*{
    box-sizing: border-box;
}
body{
    font-family: monospace;
    margin: 0%;
    padding: 0%;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: darkgrey;
    top: 0%;
    position: sticky;
    border-radius: 30px;
    margin-top: 15px;
}
nav{
    top: 0%;
}
nav a{
    margin-left: 15px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}
nav :hover{
    border: solid;
    border-radius: 15px;
    background-color: white;
    animation: 0,2s ease-in-out ;
    padding: 5px;
    border-color: white;
}
